* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  display: flex;
}

.column {
  float: left;
}

.left {
  width: 35%;
}

.right {
  width: 60%;
  padding-left: 5%;
}

/* Main Page Layout */

#main-content {
  margin: 225px 440px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}




/* Page Header */

#page-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

#page-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  /* flex-basis: 50%; */
}




/* About Section */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}




/* Examples Section */

#examples-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.examples-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.examples-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

    /* Example Cards */

    .example-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 34px;
    }

    .example-card-text-container {
      flex-direction: column;
      display: flex;
      gap: 16px
    }

    .example-video {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }

    .example-video-full {
      width: 75%;
      height: 500px;
      object-fit: cover;
      object-position: center;
    }

/* More Info Section */

#more-info-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.more-info-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Resources Section */

#resources-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.resources-section-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Example Pages */

#example-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.example-header-image {
  width: 100%;
  height: auto;
}

.example-header-image-half {
  width: 75%;
  height:auto;
  margin: auto;
}

#example-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.example-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

    /* Examples Gallery */

    #example-gallery {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .example-gallery-content {
      display: flex;
      flex-wrap: wrap;
      gap: 34px 16px;
    }

    .gallery-image-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .gallery-image-container.half-width {
      width: calc((100% - 16px) / 2);
    }

    .gallery-image {
      width: 100%;
      height: auto;
    }


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 225px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 225px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 225px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}



