body {
  font-family: "Urbanist", sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 1.75rem;
  position: relative;
  white-space: nowrap;
  margin-right: 400px;
  margin-left: 90px;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .nav-title {
    display: none;
  }
}

.button-text {
  font-size: 1rem;
  font-weight: 700;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .button-text {
    font-size: .8rem;
  }
}

.image-caption {
  font-size: 0.875rem;
  font-weight: 500;
}

.main-title {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
}

.subheader-text {
  font-size: 1.563rem;
  font-weight: 700;
}

.body-text {
  font-size: 1.45rem;
  font-weight: 500;
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .main-title {
    font-size: 2.2rem;
  }
  .subheader-text {
    font-size: 1.4rem;
  }
  .body-text {
    font-size: 1.2rem;
  }
}

.example-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.example-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}