body {
  font-family: "Urbanist", sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 1.75rem;
  position: relative;
  margin-inline-start: 8%;
  margin-top: 1%;
}

.button-text {
  font-size: 1rem;
  font-weight: 700;
}

.image-caption {
  font-size: 0.875rem;
  font-weight: 500;
}

.main-title {
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
}

.subheader-text {
  font-size: 1.563rem;
  font-weight: 700;
}

.body-text {
  font-size: 1.45rem;
  font-weight: 500;
}

.example-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.example-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}